<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/cultura"></ion-back-button>
      </ion-buttons>
    <ion-title>El Sombreron</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/mitos-y-leyendas/sobreron.jpg" style="height: 70%; width: 70%;" class="center" ></ion-img>
    <div class="ion-text-justify">
    </div>
  </ion-card>
  <ion-item>
    <div>
      <p align="justify">
        Fantasma de un hombre que pasó por la vida sin pena ni gloria, amó pero no fue amado y 
        nunca decidió sobre su futuro. Vaga bajo la luna cubierto por una ruana y con un gran 
        sombrero de ala ancha bajo el cual oculta su cara. Caminante errabundo, el sombrerón 
        sortea los caminos sin llegar a ningún lado. Quien lo encuentra teme, pues su figura 
        denota maldad y desengaño.
      </p>
    </div>
  </ion-item>
</ion-content>
