<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/cultura"></ion-back-button>
      </ion-buttons>
    <ion-title>La Candileja</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/mitos-y-leyendas/la-candileja.jpg" style="height: 70%; width: 70%;" class="center" ></ion-img>
    <div class="ion-text-justify">
    </div>
  </ion-card>
  <ion-item>
    <div>
      <p align="justify">
        En la penumbra de la tarde, en la noche o en el amanecer, una extraña luz formada por 
        tres tizones ardiendo puede verse danzando, apareciendo o desapareciendo en los montes, 
        en los llanos o en las cañadas del valle del rio Magdalena. La leyenda dice: el hijo de 
        la Candileja al culpársele del fracaso de una cacería, mata a su padre, le extrae el 
        corazón y lo lleva para que su madre lo sazone en las brasas; sabedora del drama, da 
        muerte a su hijo con sus propias manos. Por esto la candileja ha de ir con los huesos 
        de sus varones a cuestas por los montes y valles, por toda la eternidad.
      </p>
    </div>
  </ion-item>

</ion-content>
