<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Dichos y refranes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <div class="ion-text-justify">
        <ion-card-subtitle><b>Religiosos</b></ion-card-subtitle>
          <p>
            Tiene más plata que cura con 3 parroquias.
          </p>
          <p>
            Hasta el Diablo toma caldo, cuando Cristo compra hueso
          </p>
        <ion-card-subtitle><b>Gastronómicos</b></ion-card-subtitle>
          <p>
            En plato ajeno la ración se ve mas grande
          </p>
          <p>
            Tanto jode el perro con la garra que hasta al fin se la come
          </p>
        <ion-card-subtitle><b>Mujeres</b></ion-card-subtitle>
        <p>
          La mujer chiquita y tetona, la que no es puta es ladrona
        </p>
        <p>
          En peleas de comadres se descubren las verdades
        </p>
      <ion-card-subtitle><b>Hombres</b></ion-card-subtitle>
        <p>
          En la cárcel y en el hospital se conocen a los amigos
        </p>
        <p>
          Amigos y libros, buenos son pocos
        </p>
      <ion-card-subtitle><b>Actitudes humanas</b></ion-card-subtitle>
        <p>
          Chilla más que una camada de pollos
        </p>
        <p>
          Más amarrado que casa de bahareque
        </p>
      <ion-card-subtitle><b>Animales</b></ion-card-subtitle>
        <p>
          Vaca ladrona no respeta portillo
        </p>
        <p>
          Tiene más carne un zancudo en la punta del ala
        </p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
