<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/informaciongeneral"></ion-back-button>
    </ion-buttons>
    <ion-title>Comunas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-content>
            <p>
                - Comuna noroccidental o uno
            </p>
            <p>
                - Comuna nororiental o dos
            </p>
            <p>
                - Comuna entre rios o tres
            </p>
            <p>
                - Comuna central o cuatro
            </p>
            <p>
                - Comuna oriental o cinco
            </p>
            <p>
                - Comuna occidental o seis
            </p>
            <p>
                - Comuna Centro oriente o siete
            </p>
            <p>
                - Comuna suroriental u ocho
            </p>
            <p>
                - Comuna norte o nueve
            </p>
            <p>
                - Comuna oriente alto o diez
            </p>
        </ion-card-content>
    </ion-card>

</ion-content>
