<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/cultura"></ion-back-button>
      </ion-buttons>
    <ion-title>El Tunjo de Oro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/mitos-y-leyendas/el-tunjo.jpg" style="height: 70%; width: 70%;" class="center" ></ion-img>
    <div class="ion-text-justify">
    </div>
  </ion-card>
  <ion-item>
    <div>
      <p align="justify">
        Estatuilla en oro, utilizada por el diablo para apoderarse de las almas de los 
        codiciosos y avaros. Las veces que lo han visto, dicen que es como un niño llorando 
        a la vera del camino al caer la tarde. Los avaros y codiciosos se abalanzan a
        consolarlo. Para atraparlo es necesario untar el dedo pulgar con saliva y dibujar 
        en su frente, la señal de la santa cruz. Inmediatamente el niño se convierte en un 
        muñeco de oro.
      </p>
    </div>
  </ion-item>

</ion-content>
