<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/cultura"></ion-back-button>
      </ion-buttons>
    <ion-title>La Mula del Diablo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/mitos-y-leyendas/mula-del-diablo.jpg" style="height: 70%; width: 70%;" class="center" ></ion-img>
    <div class="ion-text-justify">
    </div>
  </ion-card>
  <ion-item>
    <div>
      <p align="justify">
        Suele ser considerada como una hermosa y atractiva mujer de edad primaveral, seductora 
        y comprometedora en sus actos al punto que llego a seducir a un sacerdote, cuando la 
        amante del sacerdote regresaba a su casa se convertía en una enorme mula que despedía a 
        su paso un asqueante olor a azufre producido por los vapores emanados de su nariz. 
        Además, al avanzar a gran velocidad el producía con sus cascos chispas y llamas visibles 
        a gran distancia. Si era enlazada y lograba huir de sus perseguidores rompiendo el lazo, 
        podía ser encontrada, pues la parte del lazo que arrastraba quedaba extendida, la mitad 
        dentro de la casa y la otra mitad hacia el exterior de la misma, pasando bajo la puerta 
        principal.
      </p>
    </div>
  </ion-item>
</ion-content>
