<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-menu-button  slot="start"></ion-menu-button> 
      <ion-title>
        Ruta de la Achira
      </ion-title>
      <ion-back-button slot ="end" defaultHref="/actividades"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card" routerLink="/mapas2">
        <ion-img src="/assets/Neiva/ruta_achira.PNG"></ion-img>
        <div class="ion-text-justify">
        </div>
      </ion-card>
    <ion-item>
      <div>
        <p align="justify">
          El rio Magdalena es el principal afluente hídrico de Colombia; hace su cruce
          majestuoso por nuestra capital atravesandola de Sur a Norte
        </p>
        <p align="justify">
          En nuestro municipio dinamiza la economia del sector turístico y permite la práctica
          de deportes naúticos; sobre el podemos atravesar varios municipios.
        </p>
      </div>
    </ion-item>

</ion-content>
