<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/cultura"></ion-back-button>
      </ion-buttons>
    <ion-title>La llorona</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/mitos-y-leyendas/la-llorona.jpg" style="height: 70%; width: 70%;" class="center" ></ion-img>
    <div class="ion-text-justify">
    </div>
  </ion-card>
  <ion-item>
    <div>
      <p align="justify">
        La historia cuenta que la llorona se conoce como una humilde muchacha campesina, muy 
        bonita de cabello largo que emigró a la ciudad en busca de mejores oportunidades. 
        Una vez llega a la ciudad consiguió empleo como empleada del servicio doméstico en una 
        casa de personas notables en la casa vivía un muchacho muy guapo, hijo de los patrones 
        que la enamoró en secreto y la embarazó. Ante el descubrimiento la joven fue corrida de 
        su trabajo y se fue a su humilde vivienda de origen. Sus padres inconformes y por 
        supuesto católicos e ignorantes, se dedicaron a reprocharla en todo momento hasta lograr 
        desesperarla. Estresada, como loca la joven embarazada corrió hacia el río en una negra 
        noche dando a luz a su hijo, lo lanzó a la corriente del agua, al caer en cuenta de su 
        grave error, se tiró detrás del niño gritando y llorando. Los dos murieron y por eso en 
        las noches se escucha una mujer sin consuelo llorar. Esta mujer llorando se ha escuchado 
        en todos los pueblos de América Latina.
      </p>
    </div>
  </ion-item>
</ion-content>
