<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-menu-button  slot="start"></ion-menu-button> 
      <ion-title>
        Instructivo
      </ion-title>
      <ion-back-button slot ="end" defaultHref="/mapas"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item (click)="cambiarTexto()">
    <div class="item-note">
      <ion-title>Mapa inicial</ion-title>
    </div>
  </ion-item>

  <ion-item *ngIf="!mostrar" (click)="cambiarTexto1()">
    <div class="item-note">
      <ion-img src="/assets/Instructivo/mapa.PNG" style="height: 50%; width: 50%;" class="center" ></ion-img>
      <p align="justify">
        En la pantalla inicial de la aplicacion se encontrará con un mapa que muestra su ubicación
        actual y los sitios cercanos que han sido registrados en la aplicación. Ademas es interactivo.
      </p>
    </div>
  </ion-item>

  <ion-item (click)="cambiarTexto2()">
    <div class="item-note">
      <ion-title>Menu lateral</ion-title>
    </div>
  </ion-item>

  <ion-item *ngIf="!mostrar1" (click)="cambiarTexto1()">
    <div class="item-note">
      <ion-img src="/assets/Instructivo/menu.PNG" style="height: 50%; width: 50%;" class="center" ></ion-img>
      <p align="justify">
        Aqui encontrará las categorias en las que se ha divido la aplicación Neiva Travel para
        contener la información de la Ciudad de Neiva. Entre las categorias podemos encontrar por
        ejemplo las actividades recomendadas en Neiva o información cultural de la Ciudad.
      </p>
    </div>
  </ion-item>

  <ion-item (click)="cambiarTexto3()">
    <div class="item-note">
      <ion-title>Mi municipio</ion-title>
    </div>
  </ion-item>

  <ion-item *ngIf="!mostrar2" (click)="cambiarTexto1()">
    <div class="item-note">
      <ion-img src="/assets/Instructivo/municipio.PNG" style="height: 50%; width: 50%;" class="center" ></ion-img>
      <p align="justify">
        Podrá encontrar información importante del municipio de Neiva como lo es el Himno, el Escudo,
        la Bandera y la geografia
      </p>
    </div>
  </ion-item>

  <ion-item (click)="cambiarTexto4()">
    <div class="item-note">
      <ion-title>Nuestra cultura</ion-title>
    </div>
  </ion-item>

    <ion-item *ngIf="!mostrar3" (click)="cambiarTexto1()">
      <div class="item-note">
        <ion-img src="/assets/Instructivo/cultura.PNG" style="height: 50%; width: 50%;" class="center" ></ion-img>
        <p align="justify">
          Encontrará informacion cultural de la Ciudad de Neiva, como lo son los mitos y leyendas comunes
          de la ciudad, algunos dichos que se conocen y tambien el baile representativo de la región que es 
          conocido como el Sanjuanero.
        </p>
      </div>
    </ion-item>

    <ion-item (click)="cambiarTexto5()">
      <div class="item-note">
        <ion-title>Actividades</ion-title>
      </div>
    </ion-item>

    <ion-item *ngIf="!mostrar4" (click)="cambiarTexto1()">
      <div class="item-note">
        <ion-img src="/assets/Instructivo/actividades.PNG" style="height: 50%; width: 50%;" class="center" ></ion-img>
        <p align="justify">
          Muestra las actividades que tiene la Ciudad de Neiva, como lo es las rutas turisticas de la ciudad
          o actividades como lo es el parapente o la ruta de la achira, a continuación se muestra un ejemplo
          de una de las rutas.
        </p>
        <ion-img src="/assets/Instructivo/rutas.PNG" style="height: 50%; width: 50%;" class="center" ></ion-img>
      </div>
    </ion-item>

    <ion-item (click)="cambiarTexto6()">
      <div class="item-note">
        <ion-title>Emergencias</ion-title>
      </div>
    </ion-item>

    <ion-item *ngIf="!mostrar5" (click)="cambiarTexto1()">
      <div class="item-note">
        <ion-img src="/assets/Instructivo/emergencias.PNG" style="height: 50%; width: 50%;" class="center" ></ion-img>
        <p align="justify">
          En esta parte, encontrara los números de emergia disponibles en la Ciudad de Neiva, solo hay
          que tocar en una de las lineas que aparecen y se realizará la llamada de emergencia.
        </p>
      </div>
    </ion-item>

    <ion-item (click)="cambiarTexto7()">
      <div class="item-note">
        <ion-title>Crear cuenta (Para sitios)</ion-title>
      </div>
    </ion-item>

    <ion-item *ngIf="!mostrar6" (click)="cambiarTexto1()">
      <div class="item-note">
        <ion-img src="/assets/Instructivo/crearUsuario.PNG" style="height: 50%; width: 50%;" class="center" ></ion-img>
        <p align = "justify">
          Se debe tener en cuenta que estas cuentas son exclusivas para los que posean sitios que 
          quieran promocionar o ubicar en la aplicación para que los demas usuarios lo puedan visualizar en 
          el mapa inicial.
        </p>
        <p align="justify">
          Al dar al apartado login del menú lateral, y en la parte inferior al boton registrarme, solo se debe
          llenar los datos que ahi se piden para crear la cuenta, luego se le da al botón crear usuario.
        </p>
      </div>
    </ion-item>
  
    <ion-item (click)="cambiarTexto8()">
      <div class="item-note">
        <ion-title>Ingresar a la cuenta</ion-title>
      </div>
    </ion-item>
    
    <ion-item *ngIf="!mostrar7" (click)="cambiarTexto1()">
      <div class="item-note">
        <ion-img src="/assets/Instructivo/login.PNG" style="height: 50%; width: 50%;" class="center" ></ion-img>
        <p align="justify">
          Se debe tener una cuenta registrada (apartado anterior), el primer campo es el correo registrado,
          luego la contraseña y por último se presiona el boton ingresar.
        </p>
      </div>
    </ion-item>

    <ion-item (click)="cambiarTexto9()">
      <div class="item-note">
        <ion-title>Crear mis sitios</ion-title>
      </div>
    </ion-item>

    <ion-item *ngIf="!mostrar8" (click)="cambiarTexto1()">
      <div class="item-note">
        <ion-img src="/assets/Instructivo/customer1.PNG" style="height: 50%; width: 50%;" class="center" ></ion-img>
        <p align="justify">
          Al dar al boton nuevo que está ubicado en la parte superior de la interfaz, se podran generar
          o crear mis sitios.
        </p>
        <ion-img src="/assets/Instructivo/crearSitio.png" style="height: 50%; width: 50%;" class="center" ></ion-img>
        <p align = "justify">
          Para poder crear el sitio, se debe llenar todos los datos como lo son el nombre y la descripción,
          luego se presiona en ejemplo y/o ubicación actual para obtener la posición actual en donde se encuentra
          en ese momento, si esa no es la ubicación del sitio se necesitara la ayuda de google maps 
          de la siguente manera. Se abre google maps y se busca el sitio que se quera ubicar, se presiona
          un momento y quedaria de la siguente manera
        </p>
        <ion-img src="/assets/Instructivo/google.png" style="height: 50%; width: 50%;" class="center" ></ion-img>
        <p align="justify">
          Se anotan los números de la parte superior y se escriben en la aplicación siguiendo el ejemplo
          de los números en los lugares nombrados como latitud y longitud, teniendo en cuenta cual es el 
          número mayor para ubicarlo en la posición correspondiente. Luego se da ingresar.
        </p>
      </div>
    </ion-item>

    <ion-item (click)="cambiarTexto10()">
      <div class="item-note">
        <ion-title>Ver o actualizar mis sitios</ion-title>
      </div>
    </ion-item>

    <ion-item *ngIf="!mostrar9" (click)="cambiarTexto1()">
      <div class="item-note">
        <ion-img src="/assets/Instructivo/update.PNG" style="height: 50%; width: 50%;" class="center" ></ion-img>
        <p align="justify">
          Se desliza el sitio ya creado de deracha a izquierda, luego se le da a la opción de ver o actualizar,
          si le da ver, aparecerá una interfaz que mostrara la información básica del sitio, por otra parte,
          si selecciono actualizar, se mostrara el sitio y solo se tendra que cambiar a la información nueva y se
          presiona el boton actualizar.
        </p>
        <ion-img src="/assets/Instructivo/update2.PNG" style="height: 50%; width: 50%;" class="center" ></ion-img>
      </div>
    </ion-item>

    <ion-item (click)="cambiarTexto11()">
      <div class="item-note">
        <ion-title>Eliminar mis sitios</ion-title>
      </div>
    </ion-item>

    <ion-item *ngIf="!mostrar10" (click)="cambiarTexto1()">
      <div class="item-note">
      <ion-img src="/assets/Instructivo/eliminar.PNG" style="height: 50%; width: 50%;" class="center" ></ion-img>
        <p align="justify">
          Se desplaza el sitio de izquierda a derecha dando paso a la opción para elimiar el sitio,
          solo se debe presionar en el boton eliminar.
        </p>
      </div>
    </ion-item>

    <ion-item (click)="cambiarTexto12()">
      <div class="item-note">
        <ion-title>Cerrar sesión</ion-title>
      </div>
    </ion-item>

    <ion-item *ngIf="!mostrar11" (click)="cambiarTexto1()">
      <div class="item-note">
        <ion-img src="/assets/Instructivo/salir.PNG" style="height: 50%; width: 50%;" class="center" ></ion-img>
        <p align="justify">
          Se presiona en el icono de la parte superior derecha y esto permitira salir de la cuenta
          y lo enviara a el apartado de inicio de sesión.
        </p>
      </div>
    </ion-item>
  
</ion-content>
