<ion-header>
    <ion-toolbar>
      <ion-title>Observar monumento</ion-title>
      <ion-buttons slot="primary">
        <ion-back-button text="Atras" icon="" color="primary" fill="outline"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{name_customer}}</ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
        {{desc_customer}}
      </ion-card-content>
    </ion-card>
  </ion-content>
  