<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/informaciongeneral"></ion-back-button>
      </ion-buttons>
    <ion-title>Limites del municipio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <div class="ion-text-justify">
        <p>
          Al norte con los municipios de Ataco, Natagaima, Alpujarra y el municipio Huilense de Colombia. 
        </p>
        <p>
          Al sur con los municipios Huilenses de Santa Maria, Teruel, Yaguara, Hobo y Algeciras
        </p>
        <p>
          Al oriente con el municipio Metense de la Uribe y el municipio caqueteño de San Vicente del Caguan 
        </p>
        <p>
          Al occidente con los municipios tolimenses de Planadas y Ataco
        </p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
