<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/informaciongeneral"></ion-back-button>
    </ion-buttons>
    <ion-title>Corregimientos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <div class="ion-text-justify">
        <p>
          Corregimiento del Norte, con sede en el caserio de Fortalecillas y conformado por las veredas de San Francisco, peñas blancas,
          San Andres, San Jorge, Guacirco, La Jagua, La Mata, El Venado, La Mojarra y el Espinal
        </p>
        <p>
          Corregimiento del Sur, con sede en el caserio de El Caguan, y conformado por las veredas de El Centro, Barro Negro, Santa Barbara, 
          San Bartolo, Travesia, El Chapurro y el Triunfo
        </p>
        <p>
          Corregimiento del Oriente, con sede en el caserio de Vegalarga y conformado por las veredas de Santa Lucia, Canoas, Ceibas Adentro, 
          Motilon, Alto Motilon, Santa Librada, Los Alpes, El Roblal, Las Pavas, San Jose, La Espiga, San Antonio de Anaconia, Palacio, Vegalarga, 
          El Tabor, El Cedral, Yucales, Las Nubes, Santa Elena, La Plata, Tuquila, El Vergel, Los Cauchos, Platanillal, Piedra Marcada, Ahuyamales y 
          Floragaita
        </p>
        <p>
          Corregimiento de Occidente, con sede en el caserio de San Luis y conformado por las veredas de La Julia, Los Alpes, Alto Cocal, Cocal, El Centro, 
          Quebradon, Centro Avila, San Luis, La Libertad, El Piñuelo, Corozal, El Palmar, Aipecito, La Union, La Pradera, El Triunfo, La Florida, Organos,
          Chapinero, La Cabaña, La Lindosa, Diamante, Altamira, Libano, Las Juntas, Horizonte, El Jardin y Omega
        </p>
      </div>  
    </ion-card-content>
  </ion-card>

</ion-content>
