<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-menu-button  slot="start"></ion-menu-button> 
      <ion-title>
        Parapente
      </ion-title>
      <ion-back-button slot ="end" defaultHref="/actividades"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/Neiva/parapente1.gif" style="width: 50%; height: 50%; margin-left: auto; margin-right: auto;"></ion-img>
  </ion-card>
  <ion-item>
    <div>
      <p align="justify">
        El vuelo en parapente consiste en tomar las corrientes ascendentes o 
        termicas para ganar altura y de esta forma mantenerse volando por el cielo.
      </p>
      <p align="justify">
        Esta actividad se reliza en el Cerro de Neiva. Para llegar se realiza una caminata
        de aproximadamente 2 horas, dependiendo de las condiciones del clima, siempre con el
        acompañamiento de un paramedico. Se realizan paradas técnicas con el fin de adaptar
        el cuerpo debido a la altura del Cerro.
      </p>
      <p align="justify">
        La temperatura del Cerro en su parte superior es de aproximadamente 17°C.
      </p>
      <ion-button shape="round"
        type="submit"
        expand="full"
        size="small"
        fill="outline"
        color="primary" (click)="watch('1K85RHQlUt0')">Ver video
      </ion-button>
    </div>
  </ion-item>
</ion-content>
