<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Información general de Neiva
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item href="./geografia">
      <ion-icon slot="start" color="medium" name="checkbox-outline"></ion-icon>
      <ion-label>Geografía</ion-label>
    </ion-item>
    <ion-item href="./limitesmunicipio">
      <ion-icon slot="start" color="medium" name="checkbox-outline"></ion-icon>
      <ion-label>Limites del municipio</ion-label>
    </ion-item>
    <ion-item href="./comunas">
      <ion-icon slot="start" color="medium" name="checkbox-outline"></ion-icon>
      <ion-label>Comunas</ion-label>
    </ion-item>
    <ion-item href="./corregimientos">
      <ion-icon slot="start" color="medium" name="checkbox-outline"></ion-icon>
      <ion-label>Corregimientos</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
