<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides class="mainSlide" #slidePrincipal>
    
    <ion-slide>
    
      <form (ngSubmit)= "login( fLogin )" #Login="ngForm">
        <ion-grid fixed>
          <ion-img src="assets/icon/NEIVA TRAVEL-02.png" class="center"></ion-img>
          <ion-row>
            <ion-col>
              
                <ion-list>
                  
                  <ion-item>
                    <ion-label>Email</ion-label>
                    <ion-input name="email"
                                type="email"
                                [(ngModel)]= "loginUser.email"
                                required
                                pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}"></ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-label>Contraseña</ion-label>
                    <ion-input name="password"
                                type="password"
                                [(ngModel)]= "loginUser.password"
                                required></ion-input>
                  </ion-item>

                </ion-list>
            </ion-col>
          </ion-row>
    
          <ion-row>
            <ion-col>
              <ion-button type="submit"
                          color="primary"
                          shape="round"
                          (click) ="processLogin()">
                Ingresar
              </ion-button>
            </ion-col>
          </ion-row>
    
        </ion-grid>
        </form>
        
    
    
        </ion-slide>
  
      <ion-slide>
  
        
        <ion-grid fixed>
  
              <ion-img src="assets/icon/NEIVA TRAVEL-02.png" class="center"></ion-img>          
              <form (ngSubmit)= "registro(fRegistro)" #fRegistro="ngForm">
                  <ion-row>
                      <ion-col>
                          
                          <ion-list>
                              
                              <ion-item>
                              <ion-label>Email</ion-label>
                              <ion-input name="email" 
                                          type="email"
                                          [(ngModel)]= "registroUser.email"
                                          required
                                          pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}"></ion-input>
                              </ion-item>
  
                              <ion-item>
                              <ion-label>Nombre</ion-label>
                              <ion-input name="nombre"
                                          type="text"
                                          [(ngModel)]= "registroUser.nombre"
                                          required></ion-input>
                              </ion-item>
  
                              <ion-item>
                              <ion-label>Contraseña</ion-label>
                              <ion-input name="password"
                                          type="password"
                                          [(ngModel)]= "registroUser.password"
                                          required></ion-input>
                              </ion-item>
                              <ion-item>
                              <ion-label>Confirmar contraseña</ion-label>
                              <ion-input name="password1"
                                          type="password"
                                          [(ngModel)]= "registroUser.confirm_password"
                                          required></ion-input>
                              </ion-item>
  
                          </ion-list>
                      </ion-col>
                  </ion-row>
                  
                  <ion-row>
                  <ion-col>
                      <ion-button type="submit"
                                  color="primary"
                                  shape="round"
                                  (click)="prosesRegister()">
                          Crear usuario
                      </ion-button>
                  </ion-col>
              </ion-row>
              
              </form>
          </ion-grid>
    
    
        </ion-slide>
  
  
    </ion-slides>
    
    

</ion-content>

<ion-footer no-border>
    <ion-toolbar>
      
      <ion-row>
  
        <ion-col>
            <ion-button shape="round"
                        expand="full"
                        size="small"
                        fill="outline"
                        color="primary"
                        (click)="mostrarRegistro()">
              Ingresar
            </ion-button>
        </ion-col>
  
        <ion-col>
          <ion-button shape="round"
                      expand="full"
                      size="small"
                      fill="outline"
                      color="primary"
                      (click)="mostrarLogin()">
            Registrarme
          </ion-button>
        </ion-col>
  
      </ion-row>
  
  
  
    </ion-toolbar>
  </ion-footer>
