<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Actividades
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/Neiva/galeria2296.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>Bienvenido a las actividades de Neiva</ion-card-title>
      </ion-card-header>
      <div class="ion-text-justify">
      <ion-card-content>
        <p>Neiva lo invita a conocer y vivir experiencias unicas que le permiten estar en contacto con la naturaleza y 
          disfrutar de bellos paisajes</p>
      </ion-card-content>
      </div>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-title>Actividades para realizar en Neiva</ion-title>
      </ion-list-header>
      
      <ion-item (click)="cambiarTexto()">
        <ion-icon slot="start" src="/assets/icon/svg/binoculars.svg"></ion-icon>
        <ion-label>Aventura</ion-label>
      </ion-item>
      <ion-item *ngIf="!mostrar" routerLink="/parapente">
        <ion-label>Parapente</ion-label>
      </ion-item>
      <ion-item *ngIf="!mostrar" routerLink="/rutaachira">
        <ion-label>Ruta de la achira</ion-label>
      </ion-item>
      <ion-item (click)="cambiarTexto1()">
        <ion-icon slot="start" src="/assets/icon/svg/002-trekking.svg"></ion-icon>
        <ion-label>Caminatas</ion-label>
      </ion-item>
      <ion-item *ngIf="!mostrar1" (click)="cambiarTexto2()">
        <div>
          <h2>Ruta Natural</h2>
          <p align="justify">
            Los bosques de cacao asociados a los rios y quebradas, son una estrategia integral
            de conservación por sus efectos veneficos al sistema como captura de carbono, reciclaje
            de nutrientes, corredor biológico y regulación hídrica. Con la implementación del plan 
            de Ordenamiento y Manejo de la cuenca del rio Las Ceibas, la caficultura se volvio más
            amigable con el medio ambiente.
          </p>
          <p align="justify">
            Este recorrido es una invitación a disfrutar del Bosque de Niebla de la parte alta de
            la cuenca del rio Las Ceibas, donde podrá conectarse y observar hermosos paisajes.
          </p>
        </div>
      
      </ion-item>
      <ion-item *ngIf="!mostrar1" (click)="cambiarTexto2()">
        <ion-label>Ruta natural del cacao</ion-label>
      </ion-item>
      <ion-item *ngIf="!mostrar1" (click)="cambiarTexto2()">
        <ion-label>Ruta natural del café</ion-label>
      </ion-item>
      <ion-item *ngIf="!mostrar1" (click)="cambiarTexto2()">
        <ion-label>Ruta natural de la biodiversidad</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
