<ion-app>
    <div *ngIf="showSplash" class="splash">
      
      <div class="img-loader">
          <ion-grid>
            <ion-img src="assets/icon/NEIVA TRAVEL-02.png"  class="center" style="height: 100%; width: 100%; margin-top: -10%;" ></ion-img> 
          </ion-grid>
          <div class="spinner">  <!--Comentar para mostrar la otra parte que queda infinito-->
              <div class="rect1"></div>
              <div class="rect2"></div>
              <div class="rect3"></div>
              <div class="rect4"></div>
              <div class="rect5"></div>
          </div>
          <div>
            <ion-grid>
              <ion-row>
                <ion-col>
                    <ion-img src="assets/icon/municipio.png" style="height: 200%; width: 200%;margin-left: -90%; margin-bottom: -35%;" ></ion-img>
                </ion-col>
                <ion-col>
                    <ion-img src="assets/icon/universidad-surcolombiana-acreditacion.png" style="height: 200%; width: 200%; margin-left: 20%; margin-bottom: -35%;" ></ion-img>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
      </div>
    </div>
    <ion-nav [root]="rootPage" #content swipeBackEnabled="true"></ion-nav>

  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar>
          <ion-grid>
            <ion-row>
              <ion-col>
                  <ion-img src="assets/icon/NEIVA TRAVEL-03.png" style="height: 60px; width: 60px;margin-left: 5%" ></ion-img>
              </ion-col>
              <ion-col>
                  <ion-img src="assets/icon/NEIVA TRAVEL-01.png" style="height: auto; max-width: 23vh; margin-left: -50%; margin-top: 20px " ></ion-img>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" ><!--  color="primary" -->
              <img src="assets/icon/svg/{{p.icon}}.svg" slot="start" style="width: 28px; height: 28px;" item-start>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
