<ion-app>
    <!--<div id="loading">
        <div id="loading-center">
        <div id="loading-center-absolute">
        <div class="object"></div>
        <div class="object"></div>
        <div class="object"></div>
        <div class="object"></div>
        <div class="object"></div>
        <div class="object"></div>
        <div class="object"></div>
        <div class="object"></div>
        <div class="object"></div>
        <div class="object"></div>
        </div>
        </div>
        </div>-->

    <div *ngIf="showSplash" class="splash">
      <div class="spinner"></div>
      <div class="img-loader">
          <ion-img src="assets/icon/NEIVA TRAVEL-02.png"></ion-img><br> 
          <ion-img src="assets/icon/municipio.png" style="margin-top: 75%"></ion-img>
      </div>
    </div>
    <ion-nav [root]="rootPage" #content swipeBackEnabled="true"></ion-nav>

  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar>
          <!--<ion-title>Neiva Travel</ion-title>-->
          <ion-img src="assets/icon/NEIVA TRAVEL-01.png" style="height: auto; max-width: 23vh;margin-left: 35%;" ></ion-img>
         
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" ><!--  color="primary" -->
              <img src="assets/icon/svg/{{p.icon}}.svg" slot="start" style="width: 28px; height: 28px;" item-start>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
