<ion-header>
  <ion-toolbar>
    <ion-title>Agregar sitios</ion-title>
    <ion-buttons slot="primary">
      <ion-back-button text="atras" icon="" color="primary" fill="outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Los espacios con * son requeridos</ion-label>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Nombre *</ion-label>
    <ion-input required type="text" [(ngModel)]="name_customer" placeholder="Escriba el nombre del sitio"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Descripcion *</ion-label>
    <ion-textarea required [(ngModel)]="desc_customer" placeholder="Escriba la descripcion del sitio"></ion-textarea>
  </ion-item>
  <ion-list>
    <ion-item>
      <ion-label>Ejemplo y/o posición actual *</ion-label>
      <ion-spinner name="lines-small"
                    *ngIf="cargandoGeo"></ion-spinner>
      <ion-toggle checked="true" slot="end"
                  [(ngModel)]= "posicion"
                  id="posicion"
                  (ionChange)= "getGeo()"></ion-toggle>
    </ion-item>
    
    <ion-grid>
      <ion-row>
        <ion-item>
        <ion-col>
          <ion-label position="floating">Latitud</ion-label>
          <ion-textarea  required type="number" [(ngModel)]="latitud_monumento" id="latitud" pattern="[0-9-]+([.][0-9]+)"></ion-textarea>
        </ion-col>
      </ion-item>
      <ion-item>
        <ion-col>
          <ion-label position="floating">Longitud</ion-label>
          <ion-textarea required type="number" [(ngModel)]="longitud_monumento" id="longitud" pattern="[0-9-]+([.][0-9]+)"></ion-textarea>
        </ion-col>
      </ion-item>
      </ion-row>
    </ion-grid>
    
  </ion-list>
  <ion-row>
    <ion-col size="6">
      <ion-button expand="full"
                  shape="round"
                  (click)="camara()">
        <ion-icon slot="start" name="camera"></ion-icon>
        Cámara
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="full"
                  shape="round"
                  (click)="libreria()">
        <ion-icon slot="start" name="images"></ion-icon>
        Galería
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="3" *ngFor="let image of tempImages">
      <ion-card>
        <img [src]="image">
      </ion-card>
    </ion-col>
  </ion-row>
  
</ion-content>
<ion-footer no-border>
  <ion-button expand="block" pading color="primary" *ngIf="!id" (click)="createdProcess()" fill="outline">Ingresar</ion-button>
  <ion-button expand="block" pading color="primary" *ngIf="id>=1" (click)="updateProcess()" fill="outline">Actualizar</ion-button>
</ion-footer>
