.item-select select,  .item-select select option{
    left: 75%;
  }

.background-image{
  --background: url(/assets/backgraund/Comunas_Neiva.jpg) 0 0/100% 100% no-repeat;
}
.light-back{
  --ion-background-color:#e2dedc;
}