<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Mi municipio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-list>
    <ion-item *ngFor="let item of items" (click)=click()>
        <div class="item-note">
          {{item.descripcion | slice: 0: oculto}}

        </div>
        
    <!--
    <ion-item *ngFor="let item of items">
      <div class="item-note">
        {{item.descripcion | slice: 0: oculto}}...
        <ion-label color="primary"
        (click)="oculto = 100"
        *ngIf="oculto !== 100">ver mas </ion-label>
      </div>-->

    </ion-item>
  </ion-list>  
  
</ion-content>
