<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Mi municipio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-item (click)="cambiarTexto()">
      <div class="item-note">
        {{ oculto }}
      </div>
  </ion-item>

  <ion-item *ngIf="!mostrar" (click)="cambiarTexto()">
      <div class="item-note">
        {{ oculto }}
      </div>
  </ion-item>
  
</ion-content>
