<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Caminatas
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <ion-img src="/assets/Neiva/galeria2296.jpg"></ion-img>
        <ion-card-header>
          <ion-card-subtitle></ion-card-subtitle>
          <ion-card-title>Bienvenido a las caminatas de Neiva</ion-card-title>
        </ion-card-header>
        <div class="ion-text-justify">
        </div>
      </ion-card>
      <ion-list lines="none">
        <ion-list-header>
          <ion-title>Caminatas para realizar en Neiva</ion-title>
        </ion-list-header>
        <ion-item routerLink="/mapas2">
          <ion-icon slot="start" src="/assets/icon/svg/binoculars.svg"></ion-icon>
          <ion-label>Ruta de la achira
          </ion-label>
        </ion-item>
        
      </ion-list>

</ion-content>
