<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/cultura"></ion-back-button>
      </ion-buttons>
    <ion-title>La Patasola</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/mitos-y-leyendas/la-patasola.jpg" style="height: 70%; width: 70%;" class="center" ></ion-img>
    <div class="ion-text-justify">
    </div>
  </ion-card>
  <ion-item>
    <div>
      <p align="justify">
        Tiene figura de una mujer hermosa, sensual, de penetrante mirada y agresiva actitud, 
        vive rodeada de culebras que semejan bejucos, camuflada en lo más oscuro de la selva, 
        atalayando a los hombres para embrujarlos con su mirada, atraerlos hacia ella y satisfacer 
        su apetitos sexuales. Dicen además, que era una mujer infiel a su esposo, quien al 
        encontrarla infraganti con otro hombre, le corto a ella una pierna y se la entrego a su 
        amante, luego la tomó, la llevo al centro de la selva y allá la dejo abandonada para que 
        muriera lentamente y pagara por su infidelidad. Sin embargo, el prodigio de la selva no 
        le permitió morir, su cuerpo sufrió varias mutaciones: perdió sus genitales, su única 
        pierna quedo convertida en las garras de un oso y sus manos se alargaron, siendo muy 
        horribles.
      </p>
    </div>
  </ion-item>
</ion-content>
