<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/cultura"></ion-back-button>
      </ion-buttons>
    <ion-title>El Mohan</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/mitos-y-leyendas/mohan.jpg" style="height: 70%; width: 70%;" class="center" ></ion-img>
    <div class="ion-text-justify">
    </div>
  </ion-card>

  <ion-item>
    <div>
      <p align="justify">
        El maestro Emiro Garzón vuelca su inspiración en este mito huilense, “El Mohán”, 
        para engalanar la entrada al Parque Isla, como estructura para el uso de un teleférico, 
        que funciona únicamente los fines de semana y festivos. La escultura en su esencia es 
        una mezcla de la cultura precolombina, mística, mitológica y un poco diabólica de la 
        teogonía de nuestros antepasados, pero puesto en un contexto moderno para vivificar la 
        importancia del río y la recuperación de su cauce. Con una altura de 20 metros 
        aproximadamente, este monumento está construido en fibra de vidrio, materiales 
        sintéticos y mármol molido, sobre una estructura de hierro. La obra es de una 
        arquitectura funcional, por cuanto desde la parte interior se puede acceder por unas 
        escalinatas hasta la parte superior de una torre con un mirador, en la cual se puede 
        apreciar la parte céntrica de la ciudad y el paisaje del Parque Isla.
      </p>
    </div>
  </ion-item>

</ion-content>
