<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/cultura"></ion-back-button>
      </ion-buttons>
    <ion-title>El Hojarasquín</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/mitos-y-leyendas/hojasraquin.jpg" style="height: 70%; width: 70%;" class="center" ></ion-img>
    <div class="ion-text-justify">
    </div>
  </ion-card>
  <ion-item>
    <div>
      <p align="justify">
        El Hojarasquìn una persona real cuyo oficio era el de leñador; un día el traspaso 
        los límites de la selva y corto un guayacán – árbol considerado como el rey de la 
        montaña por su contextura maderable, la madre monte lo capturó, después de un justo 
        juicio de responsabilidades, lo condeno a ser el reemplazo del árbol que vilmente 
        había cortado. Lo más grave fue que no lo despojo de sus facultades mentales, sino 
        que él siguió oyendo, viendo y sintiendo la sensación de peligro cuando alguien se 
        le acercaba con un cuchillo, hacha o motosierra. Así, presentía que le iban a hacer, 
        lo que él antes hacía con los arboles.
      </p>
    </div>
  </ion-item>
</ion-content>
