<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/informaciongeneral"></ion-back-button>
      </ion-buttons>
    <ion-title>Geografia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
        <div class="ion-text-justify">
          <p>
            Neiva esta ubicada entre la cordillera Central y Oriental, en una planicie sobre el margen oriental del rio 
            Magdalena, en el valle del mismo nombre, cruzada por los rios las Ceibas y el rio del Oro.
          </p>
          <p>
            Neiva no es solo el area urbana(la ciudad), sino un extenso territorio que va desde la cordillera Central 
            hasta la cordillera Oriental. Dentro de sus limites hay otros centros poblados de primer nivel (urbanos): 
            Fortalecillas, El Caguan, San Luis, Guacirco, Vegalaraga y San Antonio de Anaconia. Y de segundo nivel (rurales):
            Piedra marcada, el cedral, el Colegio, San Francisco, El Triunfo, Peñas Blancas, la Mata, El Venado, Cedralito,
            Palacios, Pradera, Aipecito, Chapinero y Organos 
          </p>
          <p>
            Su division politica y administrativa se ha estructurado a partir de 10 comunas con 117 barrios y 377 sectires
            en la zona urbana y 8 corrgimientos con 61 veredas y 21 sectores en la zona rural, con una area estimada de 4594
            y 150706 hectareas respectivamente. Cada corregimiento esta asociado a un centro poblado rural que se constituye 
            en el epicentro de las actividades economicas, culturales, sociales y politicas de la poblacion circundante
          </p>
        </div>
    </ion-card-content>
  </ion-card>
</ion-content>
