<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/cultura"></ion-back-button>
      </ion-buttons>
    <ion-title>La Madre Monte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/mitos-y-leyendas/madre-monte.jpg" style="height: 70%; width: 70%;" class="center" ></ion-img>
    <div class="ion-text-justify">
    </div>
  </ion-card>
  <ion-item>
    <div>
      <p align="justify">
        Los moradores del campo que la han visto, dicen que es un monstruo con figura de mujer, 
        cubierta de hojas frescas, plumas y musgo verde. Dicen que castiga a los que invaden sus 
        terrenos y pelean por linderos. Maldice con plagas y pústulas los ganados de los 
        propietarios que usurpan terrenos ajenos o cortan los alambrados de los colindantes. 
        A los que andan en malos pasos, los hace perder, borrándoles el camino y haciéndoles 
        sentir un mareo del que no se despiertan sino después de muchas horas.
      </p>
    </div>
  </ion-item>

</ion-content>
