<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Nuestra cultura
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item href="./dichosyrefranes">
      <ion-icon slot="start" src="/assets/icon/svg/hombre.svg"></ion-icon>
      <ion-label>Dichos y refranes</ion-label>
    </ion-item>
    <ion-item href="./mitosyleyendas">
      <ion-icon slot="start" src="/assets/icon/svg/mascara.svg"></ion-icon>
      <ion-label>Mitos y leyendas</ion-label>
    </ion-item>
    <ion-item href="./monumentos">
      <ion-icon slot="start" src="/assets/icon/svg/019-landmark.svg"></ion-icon>
      <ion-label>Monumentos</ion-label>
    </ion-item>
    <ion-item href="./calendario">
      <ion-icon slot="start" src="/assets/icon/svg/calendar-7.svg"></ion-icon>
      <ion-label>Calendario de actividades</ion-label>
    </ion-item>
    <ion-item href="./sanjuanero">
      <ion-icon slot="start" src="/assets/icon/svg/colombiano.svg"></ion-icon>
      <ion-label>San Juanero</ion-label>
    </ion-item>
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
