<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Neiva nocturna
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
          <ion-card-title>Bienvenido a Neiva nocturna</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <p>La capital del rio Magdalena cuenta con restaurantes y discotecas con diferentes ambientes
            permitiendo vivir muchas experiencias con familia y amigos
          </p>
      </ion-card-content>
    </ion-card>
  <ion-list>
      <ion-item href="./directivosyfuncionarios">
        <ion-icon slot="start" color="medium" name="restaurant"></ion-icon>
        <ion-label>Restaurantes</ion-label>
      </ion-item>
      <ion-item href="./directivosyfuncionarios">
        <ion-icon slot="start" color="medium" name="restaurant"></ion-icon>
        <ion-label>Restaurante - bar</ion-label>
      </ion-item>
      <ion-item href="./directivosyfuncionarios">
        <ion-icon slot="start" color="medium" name="walk"></ion-icon>
        <ion-label>Discotecas</ion-label>
      </ion-item>
      <ion-item href="./directivosyfuncionarios">
        <ion-icon slot="start" color="medium" name="beer"></ion-icon>
        <ion-label>Bares</ion-label>
      </ion-item>
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
